@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #141121;
    --secondary-color: #f5f5f5;
    --rounded-md: 0.3rem;
    --rounded-sm: 0.2rem;
    --font-family: 'IBM Plex Sans Arabic', sans-serif;
    --flow-hidden: hidden;
    --text-muted: #404a53b3;
    --text-dark: #1b122a;
    --font-md: 1.2rem;
    --font-sm: 0.9rem;
    --bg-slate: #dcdeff8e;
    --bg-slate-dark: #d5d7fb;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-muted);
    overflow-x: var(--flow-hidden);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: start;
    align-items: center;
    position: relative;
}

body::after {
    content: '';
    position: fixed;
    top: -60px;
    left: -60px;
    width: 400px;
    height: 400px;
    background-color: #ae9df86a;
    border-radius: 50%;
    filter: blur(150px);
    z-index: -1;
}

body::before {
    content: '';
    position: fixed;
    top: -60px;
    right: -60px;
    width: 400px;
    height: 400px;
    background-color: #bcadff4a;
    border-radius: 50%;
    filter: blur(150px);
    z-index: -1;
}

.grid {
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    z-index: 1;

}

.grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.aclas{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 40%;
    z-index: -1;
    opacity: .7;
}
.aclas img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
nav {
    direction: rtl;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 100;
    padding: 0 1rem;
}

nav .nav-links {

    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 27rem;
    padding: .7rem 1rem;
    border-radius: var(--rounded-md);
    border: 1px solid var(--bg-slate-dark);
    backdrop-filter: blur(10px);
    background-color: rgba(228, 220, 255, 0.203);
}

nav .nav-links ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-links ul li {
    list-style: none;
    margin: 0 0.5rem;
}

nav .nav-links ul li .castome-select {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #f5f5f5;
    gap: 0.5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

nav .nav-links ul li .castome-select .text-wrapper-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: var(--primary-color);
    font-size: .9rem;
}

nav .nav-links ul li .castome-select .text-wrapper-icon i.active {
    color: var(--primary-color);
    rotate: 180deg;
    transition: all 0.3s ease-in-out;
}

nav .nav-links ul li .castome-select .items-container {
    position: absolute;
    left: calc(60% - 4rem);
    top: 10px;
    background-color: white;
    min-width: 9rem;
    padding: 10px;
    width: fit-content;
    border-radius: var(--rounded-md);
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
    flex-direction: column;
    display: none;
    gap: 0.5rem;
}

nav .nav-links ul li .castome-select .items-container.active {
    display: flex;
    top: 2.3rem;
}

nav .nav-links ul li .castome-select .items-container .item {
    padding: 0.3rem 1rem;
    border-radius: var(--rounded-sm);
    cursor: pointer;
    color: #524b74;
    font-size: .9rem;
    transition: all 0.3s ease-in-out;
}

nav .nav-links ul li .castome-select .items-container .item:hover {
    color: var(--primary-color);
}

nav .menu {
    display: none;
    color: var(--primary-color);
    font-size: 1.9rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}

nav .menu.active {
    color: var(--primary-color);
}

/*
lets make the hero section
*/

section {
    width: 100%;
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
}

section .hero-title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-color);
    text-align: center;
}

section .hero-paragraph {
    max-width: 60%;
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-muted);
    text-align: center;

}

section .btn-container-demo-startd {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

section .btn-container-demo-startd .btn {
    padding: 0.5rem 1rem;
    border-radius: var(--rounded-md);
    border: 1px solid var(--bg-slate);
    backdrop-filter: blur(10px);
    background-color: rgba(228, 220, 255, 0.203);
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

section .btn-container-demo-startd .btn.btn-start {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.dash-board {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dash-board img {
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: var(--rounded-md);
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}


@media screen and (max-width: 768px) {
    nav .nav-links ul li .castome-select .items-container {
        left: calc(50% - 4rem);
    }

    section .hero-paragraph {
        max-width: 80%;
    }

    .dash-board img {
        width: 80%;
    }
}

@media screen and (max-width: 576px) {
    nav .nav-links {
        width: 90%;
    }

    nav .nav-links ul li .castome-select .items-container {
        left: calc(50% - 4rem);
    }

    section .hero-paragraph {
        max-width: 90%;
    }

    .dash-board img {
        width: 90%;
    }
}

@media screen and (max-width: 435px) {

    nav .nav-links {
        display: none;
        left: calc(50% - 4rem);
    }

    section .hero-paragraph {
        max-width: 100%;
    }

    .dash-board img {
        width: 100%;
    }

    nav .menu {
        display: block;
    }

    nav {
        justify-content: space-between;
    }
}